# Visual Studio cache/options directory
.vs/

# User-specific files
ScientificOperationsCentre.Api/*.user
ScientificOperationsCentre_Auth/target
ScientificOperationsCentre.Client/*.user
ScientificOperationsCentre.Api.Tests/*.user
ScientificOperationsCentre.Client.Tests/*.user

# Generated with debug and execute
ScientificOperationsCentre.Api/bin
ScientificOperationsCentre.Api/obj

ScientificOperationsCentre.Client/bin
ScientificOperationsCentre.Client/obj

ScientificOperationsCentre.Api.Tests/bin
ScientificOperationsCentre.Api.Tests/obj

ScientificOperationsCentre.Client.Tests/bin
ScientificOperationsCentre.Client.Tests/obj

# SSL certificates and keys
ScientificOperationsCentre.Api/cert.pem
ScientificOperationsCentre.Api/key.pem
ScientificOperationsCentre.Client/cert.pem
ScientificOperationsCentre.Client/key.pem
ScientificOperationsCentre.Client.Tests/cert.pem
ScientificOperationsCentre.Client.Tests/key.pem

# logging
ScientificOperationsCentre.Api/logs

# documentation
docs/*
!docs/mainpage.md

/ScientificOperationsCentre
/bin
/obj
