# Visual Studio cache/options directory
.vs/

# User-specific files
ScientificOperationsCenter.Api/*.user
ScientificOperationsCenter.Client/*.user
ScientificOperationsCenter.Api.Tests/*.user
ScientificOperationsCenter.Client.Tests/*.user

# Generated with debug and execute
ScientificOperationsCenter.Api/bin
ScientificOperationsCenter.Api/obj

ScientificOperationsCenter.Client/bin
ScientificOperationsCenter.Client/obj

ScientificOperationsCenter.Api.Tests/bin
ScientificOperationsCenter.Api.Tests/obj

ScientificOperationsCenter.Client.Tests/bin
ScientificOperationsCenter.Client.Tests/obj

# logging
ScientificOperationsCenter.Api/logs

# documentation
docs/*
!docs/mainpage.md

/ScientificOperationsCenter
/bin
/obj
