@{
    Layout = "_Layout";
    ViewData["Title"] = "radiation measurements";
}

<div class="row">
    <h1>Radiation Measurements by Hour Of Day</h1>
</div>
<canvas id="RadiationMeasurementsSumPerHourOfTheDayLineChart" width="400" height="200"></canvas>
<script src="~/js/radiationMeasurementsDay.js" type="text/javascript"></script>