@{
    Layout = "_Layout";
    ViewData["Title"] = "radiation measurements";
}

<div class="row">
    <h1>Radiation Measurements by Day</h1>
</div>
<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>Hour</th>
            <th>Total Milligrays</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Hour</td>
                <td>@item.TotalRadiation</td>
            </tr>
        }
    </tbody>
</table>