@{
    Layout = "_Layout";
    ViewData["Title"] = "radiation";
}

<div class="row">
    <h1>Radiation Measurements</h1>
</div>

<ul>
    <li>
        <a href="/RadiationMeasurements/Day">Day</a>
    </li>
    <li>
        <a href="/RadiationMeasurements/Month">Month</a>
    </li>
    <li>
        <a href="/RadiationMeasurements/Year">Year</a>
    </li>
</ul>