@{
    Layout = "_Layout";
    ViewData["Title"] = "radiation measurements";
}

<div class="row">
    <h1>Radiation Measurements by Day Of Month</h1>
</div>
<canvas id="RadiationMeasurementsSumPerDayOfTheMonthLineChart" width="400" height="200"></canvas>
<script src="~/js/radiationMeasurementsMonth.js" type="text/javascript"></script>