@{
    Layout = "_Layout";
    ViewData["Title"] = "radiation measurements";
}

<div class="row">
    <h1>Radiation Measurements by Month Of Year</h1>
</div>
<canvas id="RadiationMeasurementsSumPerMonthOfTheYearLineChart" width="400" height="200"></canvas>
<script src="~/js/radiationMeasurementsYear.js" type="text/javascript"></script>