<h1 class="view-title">Radiation Measurements</h1>
<div class="secondary-nav">
    <ul class="secondary-menu">
        <li class="secondary-nav-item">
            <a href="/radiation-measurements/day" id="radiation-measurements-day-link" class="secondary-nav-link">Day</a>
        </li>
        <li class="secondary-nav-item">
            <a href="/radiation-measurements/month" id="radiation-measurements-month-link" class="secondary-nav-link">Month</a>
        </li>
        <li class="secondary-nav-item">
            <a href="/radiation-measurements/year" id="radiation-measurements-year-link" class="secondary-nav-link">Year</a>
        </li>
    </ul>
</div>
