<h1 id="form-title">Login</h1>

<div class="form-div">
    <form id="login-form">
        <label id="username-label" for="username-input">Username:</label>
        <input id="username-input" type="text" name="username-input" required>
        <br />
        <br />
        <label id="password-label" for="password-input">Password:</label>
        <input id="password-input" type="password" name="password-input" required>
        <br>
        <input id="login-btn" name="login-btn" type="button" value="Login" />
    </form>
</div>