<h1 id="form-title">Temperatures Form</h1>
<br />
<form id="chart-form">
    <label id="date-label" for="date-input">Date:</label>
    <input id="date-input" type="date" name="date-input" required />
    <br />
    <br />
    <label id="time-frame-label" for="time-frame-label">Time Frame:</label>
    <select id="time-frame-input" name="time-frame-input" required>
        <option value="day">Day</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
    </select>
    <br />
    <br />
    <input id="generate-btn" name="generate-btn" type="button" value="Generate" />
</form>