****************************************************************************/
/***********************  General Styles ************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    position: relative;
    min-height: 100%;
}

body {
    background-color: white;
    font-family: "Arial", sans-serif;
    margin-bottom: 60px;
    background-image: url("/images/betteraideepfield.png");
    overflow-x: hidden;
    position: relative;
    background-size: cover;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

/*******************************************************************************/
/***********************  Header Styles ************************************/
.header {
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.65);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

#home-link {
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
}

#mobile-menu-check {
    display: none;
}

#mobile-menu-check:checked ~ #mobile-menu-icon .mobile-menu-icon-line {
    background: transparent;
}

#mobile-menu-check:checked ~ #mobile-menu-icon .mobile-menu-icon-line::before {
    transform: rotate(-45deg);
    top: 0;
}

#mobile-menu-check:checked ~ #mobile-menu-icon .mobile-menu-icon-line::after {
    transform: rotate(45deg);
    top: 0;
}

#mobile-menu-icon {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    display: block;
}

.mobile-menu-icon-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.mobile-menu-icon-line::before,
.mobile-menu-icon-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.mobile-menu-icon-line::before {
    top: 5px;
}

.mobile-menu-icon-line::after {
    top: -5px;
}

#main-menu {
    list-style: none;
}

#main-nav {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.65);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

#mobile-menu-check:checked ~ #main-nav {
    max-height: 100%;
}

.main-menu-link {
    display: block;
    padding: 22px;
    color: white;
}

.main-menu-link:hover {
    background-color: grey;
}

@media (min-width: 768px) {
    #mobile-menu-icon {
        display: none;
    }

    #main-nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .main-menu-item {
        float: left;
    }

    .main-menu-link:hover {
        background-color: transparent;
        color: grey;
    }
}
/*******************************************************************************/

.secondary-nav {
    text-align: center;
}

.secondary-menu {
    display: inline-block;
    text-align: left;
    padding-right: 150px;
    padding-top: 10px;
}

.secondary-menu > li {
    padding-bottom: 5px;
}

main {
    padding: 140px 3px 0px 3px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 32pt;
    margin-bottom: 2%;
}

h2 {
    text-shadow: 2px 2px black;
    font-size: 26pt;
    margin-bottom: 1%;
}

li {
    text-shadow: 2px 2px black;
}

p {
    text-shadow: 2px 2px black;
}

#title-head {
    margin-bottom: 3%;
}

#subtitle-head {
    margin-bottom: 3%;
}

#chart {
    width: 80%;
    height: 80%;
    background-color: white;
}

@media (min-width: 768px) {
    main {
        padding: 20px 3px 0px 3px;
    }

    .content {
        width: 100%;
        height: 100%;
    }

    #chart {
        max-height: 350px;
    }
}

@media (min-height: 800px) {
    #chart {
        max-height: 650px !important;
        background: rgba(255, 255, 255, 0.95);
    }
}

#chart-form, #login-form {
    color: black;
}

select, input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #076678;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #458588;
}

.form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-size: cover;
}

#content {
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
    color: white;
    text-align: center;
}
