@{
    Layout = "_Layout";
    ViewData["Title"] = "temperatures";
}

<div class="row">
    <h1>Temperatures throughout Day</h1>
</div>
<canvas id="averageTemperaturesPerHourOfTheDayLineChart" width="400" height="200"></canvas>
<script src="~/js/temperatureDay.js" type="text/javascript"></script>