@{
    Layout = "_Layout";
    ViewData["Title"] = "temperatures";
}

<div class="row">
    <h1>Temperatures by Day of Month</h1>
</div>
<canvas id="averageTemperaturesPerDayOfTheMonthLineChart" width="400" height="200"></canvas>
<script src="~/js/temperatureMonth.js" type="text/javascript"></script>