@{
    Layout = "_Layout";
    ViewData["Title"] = "temperatures";
}

<div class="row">
    <h1>Temperatures by Month of Year</h1>
</div>
<p id="ErrorText"></p>
<p id="LoadingText"></p>
<canvas id="averageTemperaturesPerMonthOfTheYearLineChart" width="400" height="200"></canvas>
<script src="~/js/temperatureYear.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/css/loadingError.css" />